body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.list {
  // width: 500px;
  flex-flow: row wrap;
  flex-grow: 1;

  .list-item {
    border: 1px dashed gray;
    // padding: 0 !important;
    // margin: 0 !important;
    background-color: transparent;
    cursor: move;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;

    &.active {
      border: 1px solid #000;
      page-break-after: always;
      // &::after {
      //   content: "";
      //   width: 100%;
      //   background: #f00;
      //   height: 5px;
      //   display: block;
      // }
    }
  }
}

.form {
  display: flex;
  flex-flow: column wrap;
  width: 200px;

  .form-input {
    padding: 10px;
    margin: 0 0 20px 0;
  }

  button {
    padding: 10px;

  }
}
